.studentmodal-table tr div {
  padding: 10px !important;
}

.studentmodal-table2 tr div {
  padding: 10px !important;
  margin: 5px;
}

#student-details {
  margin: 0 !important;
}

#studentPopUpcolumn1 {
  padding: 0 !important;
}

#student-label {
  padding: 20px !important;
}
